@charset "UTF-8";
/* .edu-match-height
 *
 * matches height by using display: flex, only works on direct children of other display: flex setups
 */
.edu-match-height {
  display: -ms-flexbox;
  display: flex;
}

.edu-match-height > * {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.edu-small-margin-bottom {
  margin-bottom: 4px !important;
}

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat-light.eot");
  src: url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat-bold.eot");
  src: url("../fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("truetype"), url("../fonts/montserrat-bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@page {
  size: 210mm 297mm;
  /* Chrome sets own margins, we change these printer settings */
  margin: 20mm 16mm 20mm 16mm;
}

* {
  font-family: Arial;
  text-align: left;
  line-height: 20px;
  word-spacing: 2px;
  letter-spacing: 0.2px;
}

html {
  height: 100% !important;
}

body::before {
  content: url("../images/doe-black-logo-print.png");
  display: block;
}

h1 {
  font-size: 1.875rem;
  line-height: 35px;
}

h1.gef-section-header__logo {
  font-size: 1.5rem;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  padding-top: 10px;
}

h1.gef-section-header__logo.link-tag-container {
  font-size: 1rem;
}

h1 span.link-tag-container {
  font-size: 1rem;
  display: block;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1.875rem;
  line-height: 32px;
}

h3 {
  font-size: 1.25rem;
  margin-top: 30px;
  line-height: 24px;
}

h3.uk-accordion-title {
  border: 1px solid #333;
  padding: 15px;
  margin-bottom: 0;
}

h4 {
  font-size: 1.125rem;
  margin-top: 30px;
}

h5 {
  font-size: 1rem;
  margin-top: 25px;
}

.gef-tabs .js-tabcontent.tabs__content {
  padding-top: 15px;
  margin: 10px 10px 10px 20px;
}

.gef-tabs .js-tabcontent.tabs__content h2 {
  border: 1px solid #333;
  padding: 0 15px;
  margin-top: 0.625rem;
  margin-left: -20px;
  font-size: 1.25rem;
}

.uk-accordion-content {
  margin-left: 20px;
}

main {
  font-size: 1rem;
}

header h1 a:after {
  font-weight: normal;
  font-size: 1.125rem;
}

a,
a:visited,
a.uk-button,
a.uk-button:visited {
  color: #000000;
  text-decoration: underline;
  word-wrap: break-word;
  font-weight: 600;
  line-height: 1.4;
}

a:after {
  content: " (" attr(href) ")";
  font-weight: normal;
  border: 1px solid #fff;
}

table {
  overflow-x: auto;
  margin: 30px 0;
  width: 100%;
  display: table;
  border-collapse: collapse;
  page-break-before: avoid;
}

thead {
  display: table-header-group;
}

th {
  text-align: left;
  font-weight: 700;
  border-bottom: 2px solid #333;
  background: #f2f2f2;
  padding: 5px 10px 5px;
}

td {
  border-bottom: 1px solid #333;
  padding: 10px 10px;
}

td, th {
  vertical-align: top;
}

dl[compact] dt, dl[compact] dd, dl.gef-compact dt, dl.gef-compact dd {
  display: inline;
}

dl[compact] dt:before, dl.gef-compact dt:before {
  content: "";
  display: block;
}

dl[compact] dt:after, dl.gef-compact dt:after {
  content: ":";
}

.gef-call-out-box {
  padding: 25px 25px 15px;
  margin: 25px 0;
  border: 1px solid #333;
  page-break-inside: avoid;
}

.gef-call-out-box h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.gef-call-out-box h3 {
  margin-top: 0;
}

.gef-tabs > ul > li ol ol, ol ol {
  list-style: lower-alpha;
}

figure {
  margin-left: 0;
}

img {
  padding: 0 15px 10px 0;
  vertical-align: top;
  max-width: 600px;
  max-height: 600px;
}

img[alt=""] {
  display: none;
}

div {
  display: block;
  position: static !important;
  height: auto !important;
}

.gef-global-header,
.gef-global-footer,
.gef-nav__toggle,
nav:not(.gef-anchor-index),
.gef-breadcrumbs__back,
.uk-breadcrumbs,
.gef-anchor-box,
form,
button,
input,
.pagination,
.uk-pagination,
.gef-pagination,
.gef-rhs,
.gef-btt,
.a-z-list-edu,
.show-on-sr,
.gef-skiplink-container,
.gef-skiplink__link,
.gef-add-this,
footer {
  display: none !important;
}

.gef-featured-teaser__content h2 {
  line-height: 30px;
}

h2.gef-search-results__itemheader {
  line-height: 25px;
}

.gef-news-teaser__content h1 {
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: -5px;
  font-size: 1.25em;
}

.gef-copyright-print {
  display: block;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 20px 0;
  font-size: 0.875em;
  page-break-inside: avoid;
}

.gef-tabs .js-tablist {
  display: none;
}

.gef-image-with-caption p, .gef-image-with-caption figcaption {
  font-size: 0.7778rem;
  margin-top: 12px;
}

blockquote {
  padding: 20px 0 25px 30px;
  border-left: 5px solid #333;
  margin-left: 2px;
}

iframe {
  max-width: 600px;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

ul + ul,
ul + ol, ol + ul,
ol + ol {
  margin-top: 50px;
}

ul li, ol li {
  position: relative;
  padding-left: 30px;
  margin-top: 0.5rem;
  list-style: none;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 0;
}

ul li:before,
.gef-tabs > ul > li ul li:before {
  position: absolute;
  left: 0;
}

ul > li:before,
.gef-tabs > ul > li ul > li:before {
  content: "\25CF";
  position: absolute;
  left: 0;
}

ul > li > ul,
ul > li > ol,
.gef-tabs > ul > li ul > li > ul,
.gef-tabs > ul > li ul > li > ol {
  margin-top: 15px;
}

ul ul > li:before,
.gef-tabs > ul > li ul ul > li:before {
  content: "\25CB";
}

ul ol,
.gef-tabs > ul > li ul ol {
  counter-reset: o;
}

ul ol > li:before,
.gef-tabs > ul > li ul ol > li:before {
  counter-increment: o;
  content: counter(o, lower-alpha) ".";
  position: absolute;
  left: 0;
  font-weight: 700;
}

ol,
.gef-tabs > ul > li ol {
  counter-reset: i;
}

ol > li:before,
.gef-tabs > ul > li ol > li:before {
  counter-increment: i;
  content: counter(i) ".";
  position: absolute;
  left: 0;
  font-weight: 700;
}

ol > li > ul,
ol > li > ol,
.gef-tabs > ul > li ol > li > ul,
.gef-tabs > ul > li ol > li > ol {
  margin-top: 0;
}

ol ol,
.gef-tabs > ul > li ol ol {
  counter-reset: o;
}

ol ol > li:before,
.gef-tabs > ul > li ol ol > li:before {
  counter-increment: o;
  content: counter(o, lower-alpha) ".";
  position: absolute;
  left: 0;
  font-weight: 700;
}

ol ul > li:before,
.gef-tabs > ul > li ol ul > li:before {
  content: "\25CB";
}

.gef-expanded-nav h3, .gef-linkgroup h3 {
  padding-top: 0;
}

.gef-toc_item a i {
  position: absolute;
  left: -40px;
  color: #565a5c;
}

[class*='uk-icon-'] {
  font-family: 'FontAwesome';
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
}

.uk-icon-chevron-right:before, .gef-results-table ul li:before {
  content: "\f054";
}

.gef-a-z-list {
  page-break-inside: avoid;
  list-style: none;
}

.gef-a-z-list li {
  padding-left: 0;
}

.gef-a-z-list li:before {
  content: none;
}

.gef-a-z-list > li {
  border-top: solid 1px #333;
  margin-top: 0px;
  margin-bottom: 60px;
}

.gef-a-z-list p {
  margin-top: 0px;
}

.gef-a-z-list h3 {
  margin-bottom: 0px;
}

.gef-a-z-list ul li:first-child div {
  padding-top: 0px;
}

.gef-a-z-list ul li:last-child div {
  margin-bottom: 40px;
}

.gef-a-z-list ul {
  width: 100%;
  display: inline-block;
  margin: 20px 0 -40px 20px;
}

.gef-a-z-list__letter {
  top: 0;
  position: absolute;
  font-weight: 300;
  font-size: 1.75rem;
  margin-top: 30px;
  line-height: 1.1;
}

.gef-page-metadata {
  background: #e0e0e0;
  padding: 0 15px;
  max-width: 340px;
  margin: 27px 0;
  font-size: 0.875rem;
  line-height: 1rem;
  display: inline-block;
}

.gef-LD-index {
  float: left;
  width: 30%;
  padding-right: 5mm;
  box-sizing: border-box;
}

.gef-LD-index ul li {
  padding-left: 18px;
}

.gef-LD-index a[href] {
  font-weight: normal;
}

.gef-LD-index a[href]:after {
  content: none !important;
}

.gef-LD-main {
  float: right;
  width: 70%;
}

.policy h1.gef-section-header__logo {
  border-bottom: none;
}

.policy-print {
  display: block;
  margin: 20px 0;
  font-weight: bold;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.policy-secure-button,
.policy-landing-main-heading hr,
.policy-landing-header-left hr,
.policy-results-header hr,
.policy-heading hr {
  display: none;
}

.policy-list-items {
  font-size: 1rem;
}

.policy-list-items ol {
  margin-left: 45px !important;
  counter-reset: section;
}

.policy-list-items > ol > li, .policy-list-items > div > ol > li {
  margin-bottom: 20px;
  padding-left: 25px;
  font-weight: bold;
  margin-left: -40px;
}

.policy-list-items > div > ol > li:before {
  font-size: 1.125rem;
}

.policy-list-items > div > ol > li h2 {
  margin-left: 0;
  font-size: 1.125rem;
  line-height: 1.2;
}

.policy-list-items ol li {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-top: 3px;
}

.policy-list-items ol li a {
  font-weight: normal;
}

.policy-list-items ol li:before {
  counter-increment: section;
  content: counters(section, ".") ".";
  position: absolute;
  left: 0;
}

.policy-list-items ol li ol li {
  font-weight: normal;
  margin-left: -40px;
  padding-left: 45px;
}

.policy-list-items ol li ol li:before {
  content: counters(section, ".") " ";
}

.policy-list-items ol li ol li ol li {
  margin-left: -40px;
  padding-left: 60px;
}

.policy-list-items ol li ol li ol li ol li {
  margin-left: -40px;
  padding-left: 80px;
}

.policy-list-items ul li {
  margin-left: -20px !important;
  padding-left: 25px !important;
  font-weight: normal;
}

.policy-list-items ul li:before {
  counter-increment: none;
  font-family: 'FontAwesome';
  content: "●" !important;
}

.policy-callout-box ul {
  list-style: none;
}

.policy-callout-box ul li:before {
  content: "\f105";
  font-size: 1.25rem;
  margin-top: 2px;
  font-family: 'FontAwesome';
  display: inline-block;
  margin-right: 15px;
  margin-left: 10px;
}

.sws-mega-menu, .sws-local-mobile-nav {
  display: none;
}

#mobile-nav-wrapper, .edu-mega-menu {
  display: none;
}

.gef-main .edconnect .gef-drawer div[role="tablist"] {
  margin-top: 2rem;
}

.gef-main .edconnect .gef-drawer div[role="tablist"] a {
  text-decoration: none !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.gef-main .edconnect .gef-drawer div[role="tablist"] a:after {
  display: none;
}

.gef-main .edconnect .gef-drawer div[role="tabpanel"] h2 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.gef-alert,
.local-notice-ribbon,
.maintenanceRibbon_auto {
  display: none;
}

.gef-long-doc .gef-LD-index {
  display: none;
}

.gef-long-doc .gef-LD-main {
  float: none;
  width: 100%;
  margin-bottom: 25px;
}
